.page-title {
  margin: auto;
  text-align: center;
  display: block !important;
  font-size: 1.7rem;
  margin-top: 10px;
}

body {
  background-color: coral !important;
}

.form-container {
  width: 400px;
  margin: auto;
}

h1 {
  text-align: center;
}